/* Styling the search bar. */

search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;

     .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    background-color: $bg_color_dropdown !important;
   
  }
  }
  
  .dropdown:empty {
    border: none;
  }
  
  
 
  input {
    width: 250px;
  }
  
  .search-inner {
    display: flex;
  }
  